*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/keystore.properties
/keystore-express-dtr.properties
/keystore-express-elo-i3.properties
/keystore-express-elo-i4.properties
/keystore-express-evolv.properties
/local.properties
.jks
